body {
    background-image: none;
}

.splitscreen-half{
    width: 50%;
    margin: 2em;
    /* border-style: dashed; */

}

.rounded-image {
border-radius: 15em; 
width: 300px;
height: auto; 
}

#information-container {
    /* display: flex; */
    /* border-style: solid; */
    overflow-y: scroll;
}

.information-child {
    margin: auto;
    text-align: center;
    /* border-style: solid; */
    width: 60%;
}

#internships-research{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.interncard{
    flex: 0 0 80%;
}

.information-grandchild{

}

